
.Smallbuttonmenu{
  bottom: 20px; right: 20px; z-index: 1050;
}
/* ESTILO BOTON LOGIN */
.boton-naranja {
    background-color: rgb(255, 102, 0);  /* Color de fondo */
    color: white;                        /* Texto blanco */
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;                  /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .boton-naranja:hover {
    background-color: rgb(230, 90, 0);   /* Un tono más oscuro al hacer hover */
    transform: scale(1.05);              /* Efecto de agrandamiento leve */
}
.buttonlogin{
  position: fixed;       /* Fija la posición */
  top: 0;                /* Alineado arriba */
  left: 0;
  width: 100%;           /* Que ocupe todo el ancho */
  z-index: 9999;         /* Que quede encima de todo */
}
/* ESTILO BOTON CLOSE, SUBMIT, SEE MORE+  */
  .boton-azul {
    background-color:  rgba(0, 70, 140, 0.822);  /* Color de fondo */
    color: white;                        /* Texto blanco */
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;                  /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .boton-azul:hover {
    background-color:   rgb(0, 140, 200); /* Un tono más oscuro al hacer hover */
    transform: scale(1.05);              /* Efecto de agrandamiento leve */
    color: white;
  }
  .boton-azul2 {
    background-color:  rgba(0, 70, 140, 0.822);  /* Color de fondo */
    color: white;                        /* Texto blanco */
    
    
    font-size: 16px;
    
    transition: background-color 0.3s ease, transform 0.2s ease;
    
  }
  .boton-azul2:hover {
    background-color:   rgb(2, 118, 168); /* Un tono más oscuro al hacer hover */
    transform: scale(1.05);              /* Efecto de agrandamiento leve */
    color: white;
  }
  .boton-rojo {
    background-color:  rgba(140, 0, 0, 0.894);  /* Color de fondo */
    color: white;                        /* Texto blanco */
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;                  /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .boton-rojo:hover {
    background-color:   rgb(200, 0, 0); /* Un tono más oscuro al hacer hover */
    transform: scale(1.05);              /* Efecto de agrandamiento leve */
    color: white;
  }
/* ESTILO BOTON MENU */
.btn-white {
    background-color: rgba(255, 255, 255, 0.781);
    color: black;
    border: 1px solid #ccc;
    transition: transform 0.2s ease, background-color 0.2s ease;
    
}
.btn-white:hover {
    background-color: #f0f0f065;
    font-weight: bold;
    color: white;
    transform: scale(1.05);
}
  



  .positionbottonabsolute{
    position: absolute; 
    right: 0;
    bottom: 0;
    padding: 1rem 1rem;
    z-index: 10; 
    background: rgba(5, 5, 5, 0.288); 
    color: white;
}
  